<script src="https://unpkg.com/ipsp-js-sdk"></script>

<script>
    var breaker = /[^\[\]]+|\[\]$/g;
    var setProp = function (data,name,value) {
        var i, last = name.pop(), len = name.length;
        for (i = 0; i < len; i++) {
            if (!data[name[i]]){
                data[name[i]] = len === i + 1 && last === '[]' ? [] : {};
            }
            data = data[name[i]];
        }
        if (last === '[]') {
            data.push(value);
        } else {
            data[last] = value;
        }
    };
    var queryString = (function(search){
        var query = {};
        search.split('&').filter(function(item){
            return item;
        }).map(function(item){
            return item.split('=');
        }).forEach(function(item){
            setProp(query,item[0].match(breaker),item[1])
        })
        return query;
    })(window.location.search.slice(1));
</script>

<div id="button-1"></div>

<script>
    var $domain = queryString.domain || 'api.dev.fondy.eu';
    var $origin = 'https://'.concat($domain);
    var $api = $checkout.get('Api', {
        origin: $origin
    });
    var $data = queryString.data || {
        merchant_id:1396424,
        currency: 'USD',
        amount:1500
    };
    function buttonExample(){
        $checkout.get('PaymentButton', {
            api: $api,
            element: '#button-1',
            style: {
                type: 'long',
                color: 'black',
                height: 46
            },
            data: $data
        }).on('success', function(model) {
            console.log('success', model);
        }).on('error', function(model) {
            console.log('error', model);
        });
    }
    buttonExample();
</script>
